.fondo img{
    height: 100%;
    width: 100%;

    cursor: pointer;

}

.fondopagina4{
    background-color: aquamarine;
}

.fondopagina4 h1{

    text-align: center;
    padding-bottom: 50px;

}
.fondopagina4 h2{

    text-align: center;
    color: rebeccapurple;



}

.fondopagina4 h3{
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    color: blueviolet;
}

.fondopagina4 h4{
    text-align: left;
    
    
}
